extends layout
block content
  div(class="container-fluid")
    h1= title
  - let results=[{horse_color:"brown",horse_breed:"Arabian horse",horse_price:5,000},{horse_color:"Black",horse_breed:"Friesian horse",horse_price:3,000},{horse_color:"Dark red",horse_breed:"American quarter horse",horse_price:9,000}] 
      div(class="row")
       each form,index in results
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{form.horse_color}        
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{form.horse_breed}        
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{form.horse_price}
        hr
      script.     
       function buy(itemNo)
       {
         alert(`You purchased Item ${itemNo+1}`)
       }

  
  

